/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(8, 109, 164);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(8, 109, 164);
  color: white;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Style for page content */
.content {
  padding: 14px;
  font-size: 22px;
}

/* When the screen is less than 800 pixels wide */
@media screen and (max-width: 800px) {
  /* Hide all links, except for the selected tab */
  .topnav a:not(.active) {
    display: none;
  }

  /* Show the icon that should open and close the topnav */
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* When the screen is less than 800 pixels wide, if the user clicks on the icon */
/* the "responsive" class attribute will be added to the topnav by the JavaScript code */
/* This media query sets the style for the unfolded topnav */
/* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Below is the styles for heatmap.html */
h2 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  text-align: center;
}

p {
  margin: 10px;
}

body { 
  margin: 0; padding: 0; 
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  height: 100%;
  margin-top: 20px;
  width: 20%;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 97%;
}

.colors {
  background: linear-gradient(to right, rgba(33, 102, 172, 0), blue, royalblue, cyan, lime, yellow, orange, darkorange, red);
  margin-bottom: 5px;
}

.label {
  width: 11%;
  display: inline-block;
  text-align: center;
}

iframe {
  display: block; /* Make iframes block-level elements */
  margin: 0 auto; /* Center horizontally using margin */
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #000000; /* Set the color of the separator */
  margin: 20px 0; /* Adjust the margin to control the space around the separator */
}

.povertyMap {
  width: 95%;
  height: 500px;
}