* {
    box-sizing: border-box;
    font-family: Roboto Mono;
}

@font-face {
    font-family: Roboto Mono;
    src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Work Sans;
    src: url('./fonts/Work_Sans/WorkSans-VariableFont_wght.ttf');
}
  
body {
    margin: 0;
}  

/* Hero Section Styling */

.heroContainer {
    display: flex;
    background-color: white;
    color: #343232;
    box-sizing: border-box;
    width: 100%;
    height: 93vh;
    align-items: center;
    justify-content: flex-start;
}

.heroContent {
    margin: 2em;
}

.heroContainer h2, p {
    margin: 0;
    margin-bottom: 1em;
}

.heroContainer img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    margin: 1em;
}

@media (max-width: 900px) {
    .heroContainer img {
        width: 60%;
        height: 60%;
        margin-right: 2.5em;
    }
}

@media (max-width: 650px) {
    .heroContainer img {
        width: 45%;
        height: 45%;
    }
}

.description {
    margin: 1em;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #000000; /* Set the color of the separator */
    margin: 20px 0; /* Adjust the margin to control the space around the separator */
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(8, 109, 164);
    color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    float: left;
    background-color: rgb(8, 109, 164);
    color: white;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav label {
    display: none;
}

/* When the screen is less than 900 pixels wide */
@media screen and (max-width: 900px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
        display: none;
    }

    .topnav.responsive a.active {
        display: none;
    }
  
    /* Show the icon that should open and close the topnav */
    .topnav label {
        display: flex;
        float: right;
        justify-content: flex-end; /* Align the label to the right */
        padding: 0.4em 1em 0 1em;
        order: -1;
    }

    .topnav.responsive {
        display: flex;
        flex-direction: column;
    }

    .topnav.responsive a {
        display: block;
        text-align: left;
    }

    .topnav.responsive a:nth-child(1) {
        order: 3;
    }

    .topnav.responsive a:nth-child(2) {
        order: 2;
    }

    .topnav.responsive a:nth-child(3) {
        order: 1;
    }
}

/* Hamburger menu styling */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Heatmap styling */

.map {
    margin: 1em;
}

.map-container {
    height: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.map-overlay {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    height: 100%;
    margin-top: 20px;
    width: 20%;
}

/* .row {
    height: 12px;
    width: 97%;
} */

.colors {
    background: linear-gradient(to right, rgba(33, 102, 172, 0), blue, royalblue, cyan, lime, yellow, orange, darkorange, red);
    margin-bottom: 5px;
}

.label {
    width: 11%;
    display: inline-block;
    text-align: center;
}

/* GIS Page Styling */
.contour-maps img {
    width: 679.35px;
    height: 560px; /*525px*/
    display: inline-block; /* Set images to display inline */
    margin: 1em;
    border: 2px solid black;
    justify-content: center;
  }

/* project button styling */
.col-sm a {
    margin-right: 0.5em;
}

.title {
    margin: 1em;
    text-align: center;
}

.container {
    margin: 1em;
}

/* Photoshop page image styling */
.ps {
    text-align: center;
}

.ps img {
    width: 40%;
    height: 40%;
    display: inline-block; /* Set images to display inline */
    margin: 1em;
    border: 0.5px solid black;
  }