* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
}  

h2, p {
    margin: 1em;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #000000; /* Set the color of the separator */
    margin: 20px 0; /* Adjust the margin to control the space around the separator */
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(8, 109, 164);
    color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(8, 109, 164);
    color: white;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav label {
    display: none;
}

/* When the screen is less than 800 pixels wide */
@media screen and (max-width: 800px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
        display: none;
    }
  
    /* Show the icon that should open and close the topnav */
    .topnav label {
        float: right;
        display: block;
        padding: 0.25em 1em 0 1em;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Hamburger menu styling */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Heatmap styling */

.map-container {
    height: 300px;
}

.map-overlay {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    height: 100%;
    margin-top: 20px;
    width: 20%;
  }

.row {
    height: 12px;
    width: 97%;
}

.colors {
    background: linear-gradient(to right, rgba(33, 102, 172, 0), blue, royalblue, cyan, lime, yellow, orange, darkorange, red);
    margin-bottom: 5px;
}

.label {
    width: 11%;
    display: inline-block;
    text-align: center;
}